.layout-helper {
	width:1024px;
/*:1px dotted red;*/
}

.layout-helper > div,
.layout-helper > div {
	/*float:left;*/
	outline:1px dotted #777;
	border:1px solid red;
	color:blue;
}
.layout-helper > div > * {
	padding-left:30px;
	margin-left:30px;
	border:3px solid red;
}


div#x40 {
	color: red;
	/*width:50%;*/
}

#container div.layout-declared-50 + div, 
#container div.layout-declared-50 + div + div {
	/*color:blue;
	width:25%;*/
}

#x10 > div, #x20 > div {
	border:3px solid red;
	padding:20px;
	margin:0;
}

#x20 > div {
	border-left:none;
}